{namespace extlist = Tx_PtExtlist_ViewHelpers}
{namespace ptextbase = Tx_PtExtbase_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<h1>Anmeldungen</h1>
	<br/>
	<ptextbase:flashMessages renderMode="div" messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}" />

	<f:render partial="formErrors" />

	<f:form class="form-horizontal" method="post" action="update" name="registration" object="{registration}" >

		<legend>Anmeldung bearbeiten</legend>
		<f:render partial="formErrors" />
		<br />

		<fieldset>
			<f:render partial="Registration/formFields" arguments="{registration:registration, feUsers: feUsers, events: events}" />

			<div class="control-group">
				<label class="control-label">Voraussetzungen</label>
				<div class="controls">
					<f:if condition="{registration.allPrerequisiteFulfillments}">
						<f:then>
								<f:for each="{registration.allPrerequisiteFulfillments}" as="prerequisiteFulfillment">
									<label class="checkbox"><f:form.checkbox name="prerequisite[{prerequisiteFulfillment.prerequisite.uid}]" value="1" checked="{prerequisiteFulfillment.isFulfilled}" />{prerequisiteFulfillment.prerequisite.title}</label>
								</f:for>
						</f:then>
						<f:else>
							Es liegen keine Voraussetzungen vor!
						</f:else>
					</f:if>
				</div>

			<div class="form-actions">
				<f:form.submit class="btn-primary btn" value="Anmeldung Speichern" />
				<f:link.action controller="RegistrationAdmin" action="list" class="btn btn-danger"><i class="icon-remove icon-white"></i> Abbrechen und zurück zur Übersicht</f:link.action>
			</div>
		</fieldset>
	</f:form>

</f:section>