<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
	Resources:
		Private: 
			Templates:
				List.html		keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="main">
<h1>Anmeldungsverwaltung</h1>

<f:flashMessages />

<f:render partial="Admin/menu" />

<table  class="tx_jdavsv" >
	<f:for each="{listData}" as="row">
        <tr style="background-color:#aaa">
            <th>Anmeldedatum:</th>
            <th>Veranstaltung:</th>
            <th>Teilnehmer (E-Mail):</th>
            <th></th>
        </tr>
		<tr style="background-color:#ccc">
            <td>{row.registration.value.date -> f:format.date()}</td>
		    <td>{row.registration.value.event.category.shortcut}{row.registration.value.event.accreditationNumber} - {row.registration.value.event.title}</td>
			<td>{row.registration.value.attendee.username} (<a href="mailto:{row.registration.value.attendee.email}">{row.registration.value.attendee.email}</a>)</td>
			<td>
                <f:link.action controller="RegistrationAdmin" action="delete" arguments="{registration: row.registration.value}">Löschen</f:link.action><br/>
                <f:link.action controller="RegistrationAdmin" action="edit" arguments="{registration: row.registration.value}">Bearbeiten</f:link.action>
            </td>
		</tr>
	</f:for>
</table>

<f:link.action controller="RegistrationAdmin" action="new">Neue Anmeldung</f:link.action>
</f:section>