{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default"/>
<f:section name="main">
	<h1>Anmeldungen</h1>
	<br/>

	<ptextbase:flashMessages renderMode="div"
							 messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}"/>
	<legend>Übersicht</legend>
	<table class="table table-striped">
		<tr>
			<f:render partial="EXT:jdav_sv/Resources/Private/Partials/Extlist/ListHeader.html"
					  arguments="{listHeader:listHeader, listCaptions:listCaptions}"/>
			<th></th>
		</tr>
		<f:for each="{listData}" as="row">
			<tr>
				<td>{row.registration.value.date -> f:format.date(format: 'd.m.Y')}</td>
				<td>
					<strong>{row.registration.value.event.category.shortcut}-{row.registration.value.event.accreditationNumber}
						{row.registration.value.event.title}</strong><br>
					<f:link.action controller="EventAdmin" action="show"
								   arguments="{event: row.registration.value.event}">Details
					</f:link.action>
				</td>
				<td>
					{row.registration.value.attendee.fullName} (<a
						href="mailto:{row.registration.value.attendee.email}">{row.registration.value.attendee.email}</a>)<br/>
					<f:link.action controller="FeUserAdmin" action="show"
								   arguments="{feUser: row.registration.value.attendee}">Details
					</f:link.action>
					&nbsp;
					<f:link.action controller="FeUserAdmin" action="edit"
								   arguments="{feUser: row.registration.value.attendee}">Bearbeiten
					</f:link.action>
				</td>
				<td>
					<p class="pull-right">
						<f:link.action controller="RegistrationAdmin" action="sendConfirmation"
									   arguments="{registration: row.registration.value}" class="btn btn-primary">
							TN-Best. versenden
						</f:link.action>
						<f:link.action controller="RegistrationAdmin" action="edit"
									   arguments="{registration: row.registration.value}" class="btn btn-primary"><i
								class="icon-pencil icon-white"></i> Bearbeiten
						</f:link.action>
						<f:link.action controller="RegistrationAdmin" action="delete"
									   arguments="{registration: row.registration.value}" class="btn btn-danger"><i
								class="icon-trash icon-white"></i> Löschen
						</f:link.action>
					</p>
				</td>
			</tr>
		</f:for>
	</table>

	<f:render partial="Extlist/Pager"
			  arguments="{pager: pager, pagerCollection: pagerCollection, item:'Anmeldungen', action:'list'}"/>

	<div class="form-actions">
		<f:link.action controller="RegistrationAdmin" action="new" class="btn btn-primary">
			<i class="icon-plus icon-white"></i>Neue Anmeldung
		</f:link.action>
	</div>
</f:section>