{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default"/>
<f:section name="main">
	<h1>Anmeldungen</h1>
	<br/>

	<ptextbase:flashMessages renderMode="div"
							 messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}"/>
	<legend>Übersicht</legend>
		<f:form class="well form-inline" controller="RegistrationAdmin" action="list">
			<strong>Filter</strong>
			<table>
				<tr>
					<td>
						<span>Teilnehmername:</span><br>
						<f:form.textfield class="span3" id="{userFilter.filterIdentifier}" property="filterValue"
										  value="{userFilter.filterValue}"
										  name="{extlist:namespace.FormElementName(object:'{userFilter}' property:'filterValue')}"
										  size="{userFilter.filterConfig.settings.size}"
										  maxlength="{userFilter.filterConfig.settings.maxLength}"/>
						&nbsp;
					</td>
					<td>
						<span>Veranstaltung:</span><br>
						<ptextbase:form.select class="span4" id="{eventFilter.filterIdentifier}" property="filterValue"
										  value="{eventFilter.filterValue}"
										  name="{extlist:namespace.FormElementName(object:'{eventFilter}' property:'filterValue')}"
										  options="{eventFilter.events}"
										  optionValueField="uid"
										  optionLabelField="fullName"
										  emptyOption="[Keine Veranstaltung gewählt]"
								/>
						&nbsp;
					</td>
					<td>
						<span>von:</span><br>
						<f:form.textfield class="span2" id="{dateFilter.filterIdentifier}From" property="filterValueFrom"
										  value="{dateFilter.filterValueFrom ->f:format.date(format: 'd.m.Y')}"
										  name="{extlist:namespace.FormElementName(object:'{dateFilter}' property:'filterValueFrom')}" />
						&nbsp;
					</td>
					<td>
						<span>bis:</span><br>
						<f:form.textfield class="span2" id="{dateFilter.filterIdentifier}to" property="filterValueTo"
										  value="{dateFilter.filterValueTo -> f:format.date(format:'d.m.Y')}"
										  name="{extlist:namespace.FormElementName(object:'{dateFilter}' property:'filterValueTo')}" />
						&nbsp;
					</td>
					<td>
						<span>&nbsp;</span><br>
						<f:form.submit class="btn btn-primary" value="Filter anwenden"/>
						&nbsp;
						<f:link.action class="btn btn-primary" action="list" arguments="{resetFilters: 1}"><i
								class="icon-white icon-remove"></i> Filter zurücksetzen
						</f:link.action>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<div class="control-group">
							<div class="controls">
								<label class="checkbox inline">
									<f:form.checkbox
											name="{extlist:namespace.FormElementName(object:'{stateFilter}' property:'isReservation')}"
											checked="{stateFilter.isReservation}" value="1"/>
									Reservierungen</label>
								<label class="checkbox inline">
									<f:form.checkbox
											name="{extlist:namespace.FormElementName(object:'{stateFilter}' property:'isWaitinglist')}"
											checked="{stateFilter.isWaitinglist}" value="1"/>
									Warteliste</label>
								<label class="checkbox inline">
									<f:form.checkbox
											name="{extlist:namespace.FormElementName(object:'{stateFilter}' property:'isAccepted')}"
											checked="{stateFilter.isAccepted}" value="1"/>
									Akzeptiert</label>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</f:form>
	<table class="table">
		<tr>
			<f:render partial="EXT:jdav_sv/Resources/Private/Partials/Extlist/ListHeader.html"
					  arguments="{listHeader:listHeader, listCaptions:listCaptions}"/>
			<th></th>
		</tr>
		<f:for each="{listData}" as="row">
			<f:if condition="{row.registration.value.isFinished}">
				<f:then><tr style="background-color: #ddaaaa;"></f:then>
				<f:else><tr style="background-color: #d6e9c6;"></f:else>
			</f:if>
				<td>{row.registration.value.isFinished}{row.registration.value.date -> f:format.date(format: 'd.m.Y')}</td>
				<td>
					<strong>{row.registration.value.event.category.shortcut}-{row.registration.value.event.accreditationNumber}
						{row.registration.value.event.title}</strong>
					<f:if condition="{row.registration.value.comment}">
						<i class="icon-tags" id="registration-comment-{row.registration.value.uid}" data-original-title="Interne Notiz" data-content="{row.registration.value.comment}"></i>
					</f:if>
					<br>
					<f:link.action controller="EventAdmin" action="show"
								   arguments="{event: row.registration.value.event}">Details
					</f:link.action>
				</td>
				<td>
					{row.registration.value.attendee.fullName} (<a
						href="mailto:{row.registration.value.attendee.email}">{row.registration.value.attendee.email}</a>)<br/>
					<f:link.action controller="FeUserAdmin" action="show"
								   arguments="{feUser: row.registration.value.attendee}">Details
					</f:link.action>
					&nbsp;
					<f:link.action controller="FeUserAdmin" action="edit"
								   arguments="{feUser: row.registration.value.attendee}">Bearbeiten
					</f:link.action>
				</td>
				<td>
					<p class="pull-right">
						<f:link.action controller="RegistrationAdmin" action="sendConfirmation"
									   arguments="{registration: row.registration.value}" class="btn btn-primary">
							Anm.-Best. versenden
						</f:link.action>
						<f:link.action controller="RegistrationAdmin" action="edit"
									   arguments="{registration: row.registration.value}" class="btn btn-primary"><i
								class="icon-pencil icon-white"></i> Bearbeiten
						</f:link.action>
						<f:link.action controller="RegistrationAdmin" action="delete"
									   arguments="{registration: row.registration.value}" class="btn btn-danger"><i
								class="icon-trash icon-white"></i> Löschen
						</f:link.action>
					</p>
				</td>
			</tr>
		</f:for>
	</table>


	<div class="form-actions">
		<table>
			<tr>
				<td class="span4">
					<f:link.action controller="RegistrationAdmin" action="new" class="btn btn-primary">
						<i class="icon-plus icon-white"></i>Neue Anmeldung
					</f:link.action>
				</td>
				<td>
					<f:render partial="Extlist/Pager"
							  arguments="{pager: pager, pagerCollection: pagerCollection, item:'Anmeldungen', action:'list'}"/>
				</td>
			</tr>
		</table>
	</div>

</f:section>

<f:section name="javascript">
	<script type="text/javascript">
		<f:for each="{listData}" as="row">
			<f:if condition="{row.registration.value.comment}">$('#registration-comment-{row.registration.value.uid}').popover();</f:if>
		</f:for>
	</script>
</f:section>