<f:layout name="Default" />
<f:section name="main">
<h1>Anmeldungen</h1>
<br/>
<ptextbase:flashMessages renderMode="div" messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}" />


<f:form method="post" class="form-horizontal" action="create"  name="newRegistration" object="{newRegistration}">
	<legend>Neue Anmeldung anlegen</legend>
	<f:render partial="formErrors" />
		<fieldset>
			<f:render partial="Registration/formFields" arguments="{event: event, feUsers: feUsers, events: events}" />
			<f:form.submit class="btn btn-primary" value="Anmeldung speichern" />
			<f:link.action controller="RegistrationAdmin" action="list" class="btn btn-danger"><i class="icon-remove icon-white"></i> Abbrechen und zurück zur Übersicht</f:link.action>
		</fieldset>
	</f:form>
</f:section>