{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<div class="control-group">
    <label class="control-label" for="title">Titel der Veranstaltung</label>
    <div class="controls"><f:form.textfield class="span9" property="title" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="subtitle">Untertitel</label>
    <div class="controls"><f:form.textfield class="span9" property="subtitle" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="dateStart">Zeitraum</label>
    <div class="controls">
        von: <f:form.textfield additionalAttributes="{placeholder: 'tt.mm.jjjj'}" class="input-small" property="dateStart"  value="{event.dateStart->f:format.date(format: 'd.m.Y')}"  />
        bis: <f:form.textfield additionalAttributes="{placeholder: 'tt.mm.jjjj'}" class="input-small" property="dateEnd"  value="{event.dateEnd->f:format.date(format: 'd.m.Y')}"  />
        Dauer in Tage: <f:form.textfield additionalAttributes="{placeholder: 'Dauer in Tagen'}" class="input-mini" property="duration" />
        <span class="help-block">Format für Datum: tt.mm.jjjj - Dauer in Tage mit Komma</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="accreditationNumber">Art - Buchungsnummer</label>
    <div class="controls">
        <f:form.select class="input-normal" property="category" options="{categories}" optionValueField="uid" optionLabelField="name" value="{event.category}"/> - <f:form.textfield class="input-small" property="accreditationNumber" />
    </div>
</div>

<div class="control-group">
<label class="control-label"  for="firstTeamer">Teamer <br/> Co-Teamer <br/> Hospitant
</label>
    <div class="controls">
        <ptextbase:form.select  property="firstTeamer" options="{teamers}" optionLabelField="fullName" optionValueField="uid" emptyOption="Bitte auswählen..." /><br />
		<ptextbase:form.select  property="secondTeamer" options="{teamers}" optionLabelField="fullName" optionValueField="uid" emptyOption="Bitte auswählen..." /> <br />
		<ptextbase:form.select  property="trainee" options="{trainees}" optionLabelField="fullName" optionValueField="uid" emptyOption="Bitte auswählen..." />
    </div>
</div>

<div class="control-group">
<label class="control-label"  for="kitchenGroup">Kochgruppe</label>
    <div class="controls">
		<ptextbase:form.select  property="kitchenGroup" options="{kitchenGroups}" optionLabelField="fullName" optionValueField="uid" emptyOption="Bitte auswählen..." />
    </div>
</div>

<div class="control-group">
	<label class="control-label" for="place">Veranstaltungsort</label>
	<div class="controls">
		<ptextbase:form.select class="span6" property="accommodation" options="{accommodations}" optionLabelField="name" optionValueField="uid" emptyOption="Bitte auswählen..." />
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="travelling">Anreise</label>
	<div class="controls"><f:form.textarea property="travelling" cols="40" rows="5" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="description">Beschreibung</label>
    <div class="controls"><f:form.textarea property="description" class="span9" cols="40" rows="15" /></div>
</div>

<div class="control-group">
<label class="control-label" for="requirements">Voraussetzungen</label>
    <div class="controls"><f:form.textarea property="requirements" class="span9" cols="40" rows="15" /></div>
</div>

<div class="control-group">
<label for="contents" class="control-label">Inhalte</label>
    <div class="controls"><f:form.textarea class="span9" property="contents" cols="40" rows="15" /></div>
</div>

<div class="control-group">
<label for="educationObjective" class="control-label">Ausbildungsziele</label>
    <div class="controls"><f:form.textarea class="span9" property="educationObjective" cols="40" rows="15" /></div>
</div>

<div class="control-group">
<label for="price" class="control-label">Preis</label>
    <div class="controls"><f:form.textfield class="input-mini" property="price" /></div>
</div>

<div class="control-group">
<label for="maxRegistrations" class="control-label">Maximale Teilnehmer</label>
    <div class="controls"><f:form.textfield class="input-mini" property="maxRegistrations" /></div>
</div>

<div class="control-group">
<label for="minRegistrations" class="control-label">Minimale Teilnehmer</label>
    <div class="controls"><f:form.textfield class="input-mini" property="minRegistrations" /></div>
</div>

<div class="control-group">
<label for="attTeamerRatio" class="control-label">Teamer-TN-Schlüssel</label>
    <div class="controls"><f:form.textfield class="input-mini" property="attTeamerRatio" /></div>
</div>

<div class="control-group">
<label for="announcement" class="control-label">Text für Ankündigung</label>
    <div class="controls"><f:form.textarea class="span9" property="announcement" cols="40" rows="15" /></div>
</div>

<div class="control-group">
<label for="tourReportRequired" class="control-label">Tourenbericht erforderlich</label>
    <div class="controls"><f:form.checkbox property="tourReportRequired" value="1" checked="{event.tourReportRequired}"/></div>
</div>

<div class="control-group">
<label for="registrationDeadline" class="control-label">Anmeldeschluss</label>
    <div class="controls"><f:form.textfield class="input-small" property="registrationDeadline"  value="{event.registrationDeadline->f:format.date(format: 'd.m.Y')}"  /></div>
</div>

<div class="control-group">
<label for="isProposal" class="control-label">Status</label>
    <div class="controls">
		<label class="checkbox">
			<f:form.checkbox property="isProposal" checked="{event.isProposal}" value="1" />
			Ist Vorschlag
		</label>
		<label class="checkbox">
			<f:form.checkbox property="teamerInputFinished" checked="{event.teamerInputFinished}" value="1"  />
			Fertig eingegeben
		</label>
		<label class="checkbox">
			<f:form.checkbox property="isProofread" checked="{event.isProofread}" value="1"  />
			Korrekturgelesen
		</label>
		<label class="checkbox">
			<f:form.checkbox property="isAccepted" checked="{event.isAccepted}" value="1"  />
			Akzeptiert
		</label>
	</div>
</div>
