<label for="title">
	<f:translate key="tx_jdavsv_domain_model_event.title" />
</label><br />
	<f:form.textbox property="title" /><br />
<label for="subtitle">
	<f:translate key="tx_jdavsv_domain_model_event.subtitle" />
</label><br />
	<f:form.textbox property="subtitle" /><br />
<label for="description">
	<f:translate key="tx_jdavsv_domain_model_event.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="dateStart">
	<f:translate key="tx_jdavsv_domain_model_event.date_start" />
</label><br />
	<f:form.textbox property="dateStart"  value="{event.dateStart->f:format.date()}"  /><br />
<label for="dateEnd">
	<f:translate key="tx_jdavsv_domain_model_event.date_end" />
</label><br />
	<f:form.textbox property="dateEnd"  value="{event.dateEnd->f:format.date()}"  /><br />
<label for="duration">
	<f:translate key="tx_jdavsv_domain_model_event.duration" />
</label><br />
	<f:form.textbox property="duration" /><br />
<label for="place">
	<f:translate key="tx_jdavsv_domain_model_event.place" />
</label><br />
	<f:form.textarea property="place" cols="40" rows="15" /><br />
<label for="travelling">
	<f:translate key="tx_jdavsv_domain_model_event.travelling" />
</label><br />
	<f:form.textarea property="travelling" cols="40" rows="15" /><br />
<label for="accreditationNumber">
	<f:translate key="tx_jdavsv_domain_model_event.accreditation_number" />
</label><br />
	<f:form.textbox property="accreditationNumber" /><br />
<label for="requirements">
	<f:translate key="tx_jdavsv_domain_model_event.requirements" />
</label><br />
	<f:form.textarea property="requirements" cols="40" rows="15" /><br />
<label for="contents">
	<f:translate key="tx_jdavsv_domain_model_event.contents" />
</label><br />
	<f:form.textarea property="contents" cols="40" rows="15" /><br />
<label for="educationObjective">
	<f:translate key="tx_jdavsv_domain_model_event.education_objective" />
</label><br />
	<f:form.textarea property="educationObjective" cols="40" rows="15" /><br />
<label for="firstTeamer">
	<f:translate key="tx_jdavsv_domain_model_event.first_teamer" />
</label><br />
	<f:form.textbox property="firstTeamer" /><br />
<label for="secondTeamer">
	<f:translate key="tx_jdavsv_domain_model_event.second_teamer" />
</label><br />
	<f:form.textbox property="secondTeamer" /><br />
<label for="trainee">
	<f:translate key="tx_jdavsv_domain_model_event.trainee" />
</label><br />
	<f:form.textbox property="trainee" /><br />
<label for="kitchenGroup">
	<f:translate key="tx_jdavsv_domain_model_event.kitchen_group" />
</label><br />
	<f:form.textbox property="kitchenGroup" /><br />
<label for="price">
	<f:translate key="tx_jdavsv_domain_model_event.price" />
</label><br />
	<f:form.textbox property="price" /><br />
<label for="maxRegistrations">
	<f:translate key="tx_jdavsv_domain_model_event.max_registrations" />
</label><br />
	<f:form.textbox property="maxRegistrations" /><br />
<label for="minRegistrations">
	<f:translate key="tx_jdavsv_domain_model_event.min_registrations" />
</label><br />
	<f:form.textbox property="minRegistrations" /><br />
<label for="attTeamerRatio">
	<f:translate key="tx_jdavsv_domain_model_event.att_teamer_ratio" />
</label><br />
	<f:form.textbox property="attTeamerRatio" /><br />
<label for="announcement">
	<f:translate key="tx_jdavsv_domain_model_event.announcement" />
</label><br />
	<f:form.textarea property="announcement" cols="40" rows="15" /><br />
<label for="tourReportRequired">
	<f:translate key="tx_jdavsv_domain_model_event.tour_report_required" />
</label><br />
	<f:form.textbox property="tourReportRequired" /><br />
<label for="registrationDeadline">
	<f:translate key="tx_jdavsv_domain_model_event.registration_deadline" />
</label><br />
	<f:form.textbox property="registrationDeadline"  value="{event.registrationDeadline->f:format.date()}"  /><br />
	
	
	
<label for="isProposal">
    <f:translate key="tx_jdavsv_domain_model_event.isProposal" />
</label><br />
    <f:form.checkbox property="isProposal" checked="{event.isProposal}" value="1" /><br />
<label for="teamerInputFinished">
    <f:translate key="tx_jdavsv_domain_model_event.teamerInputFinished" />
</label><br />
    <f:form.checkbox property="teamerInputFinished" checked="{event.teamerInputFinished}" value="1"  /><br />
<label for="isProofread">
    <f:translate key="tx_jdavsv_domain_model_event.isProofread" />
</label><br />
    <f:form.checkbox property="isProofread" checked="{event.isProofread}" value="1"  /><br />
<label for="isAccepted">
    <f:translate key="tx_jdavsv_domain_model_event.isAccepted" />
</label><br />
    <f:form.checkbox property="isAccepted" checked="{event.isAccepted}" value="1"  /><br />