<label for="title">
	Titel der Veranstaltung:
</label>
	<f:form.textbox property="title" />
<label for="subtitle">
	Untertitel:
</label>
	<f:form.textbox property="subtitle" />
<label for="description">
	Beschreibung:
</label>
	<f:form.textarea property="description" cols="40" rows="15" />
<label for="dateStart">
	Start - Ende - Dauer der Veranstaltung:
</label>
	<f:form.textbox additionalAttributes="{placeholder: 'dd.mm.jjjj'}" class="input-small" property="dateStart"  value="{event.dateStart->f:format.date(format: 'd.m.Y')}"  /> -
	<f:form.textbox additionalAttributes="{placeholder: 'dd.mm.jjjj'}" class="input-small" property="dateEnd"  value="{event.dateEnd->f:format.date(format: 'd.m.Y')}"  /> -
    <f:form.textbox additionalAttributes="{placeholder: 'Dauer in Tagen'}" class="input-small" property="duration" />
<label for="place">
	<f:translate key="tx_jdavsv_domain_model_event.place" />
</label>
	<f:form.textarea property="place" cols="40" rows="15" />
<label for="travelling">
	<f:translate key="tx_jdavsv_domain_model_event.travelling" />
</label>
	<f:form.textarea property="travelling" cols="40" rows="15" />
<label for="accreditationNumber">
	<f:translate key="tx_jdavsv_domain_model_event.accreditation_number" />
</label>
	<f:form.textbox property="accreditationNumber" />
<label for="requirements">
	<f:translate key="tx_jdavsv_domain_model_event.requirements" />
</label>
	<f:form.textarea property="requirements" cols="40" rows="15" />
<label for="contents">
	<f:translate key="tx_jdavsv_domain_model_event.contents" />
</label>
	<f:form.textarea property="contents" cols="40" rows="15" />
<label for="educationObjective">
	<f:translate key="tx_jdavsv_domain_model_event.education_objective" />
</label>
	<f:form.textarea property="educationObjective" cols="40" rows="15" />
<label for="firstTeamer">
	<f:translate key="tx_jdavsv_domain_model_event.first_teamer" />
</label>
	<f:form.textbox property="firstTeamer" />
<label for="secondTeamer">
	<f:translate key="tx_jdavsv_domain_model_event.second_teamer" />
</label>
	<f:form.textbox property="secondTeamer" />
<label for="trainee">
	<f:translate key="tx_jdavsv_domain_model_event.trainee" />
</label>
	<f:form.textbox property="trainee" />
<label for="kitchenGroup">
	<f:translate key="tx_jdavsv_domain_model_event.kitchen_group" />
</label>
	<f:form.textbox property="kitchenGroup" />
<label for="price">
	<f:translate key="tx_jdavsv_domain_model_event.price" />
</label>
	<f:form.textbox property="price" />
<label for="maxRegistrations">
	<f:translate key="tx_jdavsv_domain_model_event.max_registrations" />
</label>
	<f:form.textbox property="maxRegistrations" />
<label for="minRegistrations">
	<f:translate key="tx_jdavsv_domain_model_event.min_registrations" />
</label>
	<f:form.textbox property="minRegistrations" />
<label for="attTeamerRatio">
	<f:translate key="tx_jdavsv_domain_model_event.att_teamer_ratio" />
</label>
	<f:form.textbox property="attTeamerRatio" />
<label for="announcement">
	<f:translate key="tx_jdavsv_domain_model_event.announcement" />
</label>
	<f:form.textarea property="announcement" cols="40" rows="15" />
<label for="tourReportRequired">
	<f:translate key="tx_jdavsv_domain_model_event.tour_report_required" />
</label>
	<f:form.checkbox property="tourReportRequired" value="1" checked="{event.tourReportRequired}"/>
<label for="registrationDeadline">
	<f:translate key="tx_jdavsv_domain_model_event.registration_deadline" />
</label>
	<f:form.textbox property="registrationDeadline"  value="{event.registrationDeadline->f:format.date()}"  />
	
	
	
<label for="isProposal">
    <f:translate key="tx_jdavsv_domain_model_event.isProposal" />
</label>
    <f:form.checkbox property="isProposal" checked="{event.isProposal}" value="1" />
<label for="teamerInputFinished">
    <f:translate key="tx_jdavsv_domain_model_event.teamerInputFinished" />
</label>
    <f:form.checkbox property="teamerInputFinished" checked="{event.teamerInputFinished}" value="1"  />
<label for="isProofread">
    <f:translate key="tx_jdavsv_domain_model_event.isProofread" />
</label>
    <f:form.checkbox property="isProofread" checked="{event.isProofread}" value="1"  />
<label for="isAccepted">
    <f:translate key="tx_jdavsv_domain_model_event.isAccepted" />
</label>
    <f:form.checkbox property="isAccepted" checked="{event.isAccepted}" value="1"  />