<div class="tabs">
	<ul class="nav nav-tabs" id="eventDescriptionTabs">
		<li class="active"><a href="#overview" data-toggle="pill">Übersicht</a></li>
		<li><a href="#description" data-toggle="tab">Beschreibung</a></li>
		<li><a href="#content" data-toggle="tab">Inhalte</a></li>
		<li><a href="#prerequisites" data-toggle="tab">Voraussetzungen</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="overview">
			<table class="table table-no-border-top">
				<tr>
					<td class="span2"><strong>Dauer:</strong></td>
					<td class="span3">{event.duration} Tage</td>
					<td class="span2"><strong>Betreuungsverhältnis:</strong></td>
					<td class="span3">{event.attTeamerRatio} (Teamer:Teilnehmer)</td>
				</tr>
				<tr>
					<td class="span2"><strong>Anreise:</strong></td>
					<td class="span3">{event.travelling}</td>
					<td class="span2"><strong>Preis:</strong></td>
					<td class="span3">{event.price}</td>
				</tr>
				<tr>
					<td class="span2"><strong>Gruppengröße:</strong></td>
					<td class="span3">{event.minRegistrations} bis {event.maxRegistrations} Teilnehmer</td>
					<td class="span2"><strong>Anmeldeschluss:</strong></td>
					<td class="span3">{event.registrationDeadline  -> f:format.date(format: 'd.m.Y')}</td>
				</tr>
			</table>
		</div>
		<div class="tab-pane" id="description">
		  {event.description}
		</div>
		<div class="tab-pane" id="content">
		  {event.contents}
		</div>
		<div class="tab-pane" id="prerequisites">
		  {event.requirements}
		</div>
	</div>
</div>