<table class="tx-jdavsv-pi1" >
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.title" />
		</td>
		<td>
			{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.subtitle" />
		</td>
		<td>
			{event.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.date_start" />
		</td>
		<td>
			{event.dateStart -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.date_end" />
		</td>
		<td>
			{event.dateEnd -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.duration" />
		</td>
		<td>
			{event.duration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.place" />
		</td>
		<td>
			{event.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.travelling" />
		</td>
		<td>
			{event.travelling}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.accreditation_number" />
		</td>
		<td>
			{event.accreditationNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.requirements" />
		</td>
		<td>
			{event.requirements}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.contents" />
		</td>
		<td>
			{event.contents}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.education_objective" />
		</td>
		<td>
			{event.educationObjective}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.first_teamer" />
		</td>
		<td>
			{event.firstTeamer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.second_teamer" />
		</td>
		<td>
			{event.secondTeamer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.trainee" />
		</td>
		<td>
			{event.trainee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.kitchen_group" />
		</td>
		<td>
			{event.kitchenGroup}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.price" />
		</td>
		<td>
			{event.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.max_registrations" />
		</td>
		<td>
			{event.maxRegistrations}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.min_registrations" />
		</td>
		<td>
			{event.minRegistrations}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.att_teamer_ratio" />
		</td>
		<td>
			{event.attTeamerRatio}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.announcement" />
		</td>
		<td>
			{event.announcement}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.tour_report_required" />
		</td>
		<td>
			{event.tourReportRequired}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_event.registration_deadline" />
		</td>
		<td>
			{event.registrationDeadline -> f:format.date()}
		</td>
	</tr>
</table>