<f:layout name="RegistrationListExport"/>

<f:section name="header">
    <h1>{event.fullName}</h1>

    <p>Teilnehmerliste für Teamer</p>
</f:section>


<f:section name="content">
    <h3>Teilnehmer</h3>
    <f:if condition="{event.nonWaitingListRegistrations}">
        <f:then>
            <f:render partial="Export/RegistrationList" arguments="{registrations: event.nonWaitingListRegistrations}"/>
        </f:then>
        <f:else>
            <p>Es liegen keine Anmeldungen für diese Schulung vor!</p>
        </f:else>
    </f:if>

    <h3>Warteliste <span>(in der Reihenfolge der Anmeldungen)</span></h3>
    <f:if condition="{event.waitingListRegistrations}">
        <f:then>
            <f:render partial="Export/RegistrationList"
                      arguments="{registrations: event.waitingListRegistrations, title: 'Warteliste'}"/>
        </f:then>
        <f:else>
            <p>Es gibt keine Wartelistenplätze für diese Schulung!</p>
        </f:else>
    </f:if>

    <f:if condition="{event.trainee}">
        <f:render partial="Export/Trainee" arguments="{trainee: event.trainee}"/>
    </f:if>
</f:section>
