<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{csssFilePath}" />
    </head>

    <body>
	<h1>{event.fullName}</h1>
	<p>Teilnehmerliste für Teilnehmer</p>


	<table align="center" class="tx_jdavsv" id="tx-ptextlist-list-{config.listConfiguration.listIdentifier}">
		<thead>
			<f:render partial="Export/ListHeader" arguments="{listHeader:listHeader, listCaptions:listCaptions}" />
		</thead>
		<tbody>
			<f:render partial="Export/ListBody" arguments="{registrations:event.nonWaitingListRegistrations}" />
            <f:if condition="{event.firstTeamer}">
                <tr>
                    <td colspan="2">
                        <br/><br/>
                        <b>Anschrift erster Teamer:</b> <br/><br/>
                        {event.firstTeamer.firstName} {event.firstTeamer.lastName} <br/>
                        {event.firstTeamer.address} <br/>
                        {event.secondTeamer.zip} {event.secondTeamer.city} <br/>
                        {event.firstTeamer.telephone} <br/>
                        {event.firstTeamer.mobilePhone}
                        <f:if condition="{event.firstTeamer.email}"><br/><a href="mailto:{event.firstTeamer.email}">{event.firstTeamer.email}</a></f:if>
                    </td>
                    <td colspan="3">
                        <f:if condition="{event.secondTeamer}">
                            <br/><br/>
                            <b>Anschrift zweiter Teamer:</b> <br/><br/>
                            {event.secondTeamer.firstName} {event.secondTeamer.lastName} <br/>
                            {event.secondTeamer.address} <br/>
                            {event.secondTeamer.zip} {event.secondTeamer.city} <br/>
                            {event.secondTeamer.telephone} <br/>
                            {event.secondTeamer.mobilePhone}
                            <f:if condition="{event.firstTeamer.email}"><br/><a href="mailto:{event.secondTeamer.email}">{event.secondTeamer.email}</a></f:if>

                        </f:if>
                    </td>
                </tr>
            </f:if>
		</tbody>
	</table>

    <br/>

	<p style="position: fixed;
	  bottom: 0px;
	  left: 0px;
	  right: 0px;
	  height: 50px;
	  border-top: 2px solid gray;
	  font-size:x-small">Diese Liste darf ausschließlich für Vereinszwecke verwendet werden. Eine Verwendung für andere (insbesondere für kommerzielle) Zwecke sowie die Überlassung der Liste
	an außenstehende Dritte ist gemäß § 28 Abs.5 BDSG nicht zulässig.</p>

	</body>
</html>