<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="{csssFilePath}"/>
</head>

<body>
<h1>{event.fullName}</h1>

<p>Teilnehmerliste für Teamer</p>

<f:if condition="{event.nonWaitingListRegistrations}">
	<f:then>
		<f:render partial="Export/RegistrationList" arguments="{registrations: event.nonWaitingListRegistrations}"/>
	</f:then>
	<f:else>
		Es liegen keine Anmeldungen für diese Schulung vor!
	</f:else>
</f:if>


<f:if condition="{event.waitingListRegistrations}">
	<f:then>
		<br/>

		<p>Warteliste für Teamer (in der Reihenfolge der Anmeldungen)</p>
		<f:render partial="Export/RegistrationList"
				  arguments="{registrations: event.waitingListRegistrations, title: 'Warteliste'}"/>
	</f:then>
	<f:else>
		<br/>

		<p>Es gibt keine Wartelistenplätze für diese Schulung!</p>
	</f:else>
</f:if>


</body>
</html>