<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{csssFilePath}"/>
    <style type="text/css">

    body {
      font-family: sans-serif;
      font-size: 10pt;
    }

    div.absolute {
    	/* for debuggin border: 2px dotted green; */
    	position: absolute;
    	padding: 0.5em;
    }

    </style>
</head>

<body marginwidth="0" marginheight="0">

<div class="absolute" style="top: 40px; right: -10px;">
    <img width="200px" src="typo3conf/ext/jdav_sv/Resources/Public/Img/jdav_logo_klein.png" />
</div>

<div class="absolute" style="top: 100px; left: 40px; right: -10px;">
    <p style="font-size: 8pt">JDAV Ba-Wü | Rotebühlstr. 59 A | 70178 Stuttgart</p>
    {registration.attendee.firstName} {registration.attendee.lastName}<br>
    <f:format.nl2br>{registration.attendee.address}</f:format.nl2br>
</div>

<div class="absolute" style="top: 230px; right: -10px;">
    Stuttgart, den {currentDate->f:format.date(format: 'd.m.Y')}
</div>

<div class="absolute" style="top: 230px; left: 40px; right: -10px; bottom: 160px; ">
    <f:format.nl2br>
    <strong>Rechnung Teilnehmerbeitrag</strong>
    <strong>{registration.event.title}</strong>


    Hiermit berechnen wir den Teilnehmerbeitrag für die Schulungsveranstaltung <strong>{registration.event.title}</strong> der JDAV Baden-Württemberg e. V.

    <div style="text-align: center"><strong>in Höhe von {registration.event.price} €</strong></div>

    Bitte nicht überweisen, der Betrag wird von dem bei der schriftlichen Anmeldung angegebenen Konto abgebucht.


    Jugend des Deutschen Alpenvereins
    Landesgeschäftsstelle Baden-Württemberg e. V.

    Ulrike Hausladen





    <div style="border: 1px solid; padding: 10px">Unsere aktuellen Zahlungs-, Storno- und Umbuchungsgebühren sowie die Regelungen zur Fahrtkostenerstattung sind nachzulesen unter www.jdav-bw.de (Schulungen / Anmeldung + Info).</div>
    </f:format.nl2br>
</div>

<div class="absolute" style="bottom: -20px; left: 40px; font-size: 8pt; color: #666666;">
    <f:format.nl2br>
    Konto-Nummer: 258 417 7
    Bankleitzahl: 600 501 01
    Name der Bank: BW Bank
    IBAN: DE57 6005 0101 0002 5841 77
    BIC / SWIFT-Adresse: SOLADEST
    </f:format.nl2br>
</div>

<div class="absolute" style="bottom: -20px; 40px; right: -10px; font-size: 8pt; color: #666666;">
    <f:format.nl2br>
    JDAV Landesgeschäftsstelle Baden-Württemberg e. V.
    Rotebühlstrasse 59 A | 70178 Stuttgart
    <br>
    Telefon 0711 – 61 08 86
    Internet www.jdav-bw.de
    Email info@jdav-bw.de
    </f:format.nl2br>
</div>

</body>
</html>