{namespace ptextbase=Tx_PtExtbase_ViewHelpers}
<h1>Anmeldung</h1>

<f:flashMessages />

<div class="well">
	<div class="well well-white">
		<p class="pull-right btn {event.lights}">{event.lightsText}</p>
		<small>{event.category.name}</small>
		<h2>{event.title}</h2>
	</div>
	<table>
		<tr>
			<td class="span2">
				<small><i class="icon-tag"></i> {event.category.shortcut}-{event.accreditationNumber}</small>
			</td>
			<td class="span4">
				<small><i class="icon-calendar"></i> von {event.dateStart -> f:format.date(format: 'd.m.Y')} bis {event.dateStart -> f:format.date(format: 'd.m.Y')}</small>
			</td>
			<td class="span4">
				<small><i class="icon-home"></i> {event.accommodation.name}</small>
			</td>
		</tr>
	</table>
	<table class="table table-no-bottom">
		<tr>
			<td colspan="2">
				{event.announcement}
			</td>
		</tr>
	</table>
</div>

Ihr Benutzername: {feUser.name} <br><br>

<f:form class="form-horizontal" controller="Registration" action="confirmRegistration">
	<f:form.hidden name="event" value="{event}" />

	<f:if condition="{missingDavNr}">
		<div class="alert alert-error">
			Du musst eine gültige DAV-Mitgliedsnummer eingeben, um dich anmelden zu können!<br />
			<div class="control-group">
				<label class="control-label">DAV-Mitgliedsnummer:</label>
				<div class="controls">
					<f:form.textfield name="davNr" /><br/>
				</div>
			</div>
		</div>
	</f:if>

	<f:if condition="{missingJuleiNr}">
		<div class="alert alert-error">
			Du musst eine gültige Jugendleiter-Nummer eingeben, um dich anmelden zu können!<br/>
			<div class="control-group">
				<label class="control-label">Jugendleiter-Ausweisnummer:</label>
				<div class="controls">
					<f:form.textfield name="juleiNr" />
				</div>
			</div>
		</div>
	</f:if>
	
	<f:if condition="{missingSektion}">
		<div class="alert alert-error">
			Du musst eine Sektion angeben, um dich anmelden zu können!
			<div class="control-group">
				<label class="control-label">Sektion:</label>
				<div class="controls">
					<ptextbase:form.select name="sektion" options="{sektionen}" optionLabelField="name"
												   optionValueField="uid" emptyOption="Bitte auswählen..."/>
				</div>
			</div>
		</div>
	</f:if>

	<div class="control-group">
		<label class="control-label">Bitte gib an, ob du vegetarisch essen möchtest:</label>
		<div class="controls">
			<label class="radio">
				<f:form.radio name="vegetarian" value="0" checked="1" /> Nein, ich möchte nicht vegetarisch essen
			</label>
			<label class="radio">
				<f:form.radio name="vegetarian" value="1" /> Ja, ich möchte vegetarisch essen
			</label>
		</div>
	</div>

	<f:if condition="{otherRegistrations}">
		<f:then>
			<div class="alert alert-error">
				Du hast dich bereits zu mindestens einer anderen Veranstaltung angemeldet. Du kannst dich jeweils nur für eine Veranstaltung anmelden und
				bekommst bei den anderen Veranstaltungen zunächste einen Wartelistenplatz.
				<br/>
				Bitte wähle diejenige Schulung aus, bei der du dich anmelden möchtest (bei den anderen Schulungen kommst du zunächst auf die Warteliste):
				<div class="control-group">
					<label class="control-label">Angemeldete Schulungen:</label>
					<div class="controls">
						<label class="radio">
							<f:form.radio name="firstChoiceEvent" value="{event.uid}" checked="checked"/> {event.category.shortcut}-{event.accreditationNumber} {event.title} <small>(diese Schulung!)</small>
						</label>
						<f:for each="{otherRegistrations}" as="registration">
							<label class="radio">
								<f:form.radio name="firstChoiceEvent" value="{registration.event.uid}" /> {registration.event.category.shortcut}-{registration.event.accreditationNumber} {registration.event.title}
							</label>
						</f:for>
					</div>
				</div>
			</div>
		</f:then>
	</f:if>

	<div class="form-actions">
		<f:form.submit class="btn btn-primary" value="Anmeldung bestätigen" />
		<f:link.action class="btn btn-danger" controller="Event" action="list">Zurück zur Liste der Schulungen</f:link.action>
	</div>
</f:form>
