<div class="control-group">
    <label class="control-label" for="shortcut">Name</label>
    <div class="controls"><f:form.textfield class="span1" property="name" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="name">E-Mail</label>
    <div class="controls"><f:form.textfield class="span4" property="email" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="name">WWW</label>
    <div class="controls"><f:form.textfield class="span4" property="url" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="name">Telefon</label>
    <div class="controls"><f:form.textfield class="span4" property="telephone" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="name">Adresse</label>
    <div class="controls"><f:form.textarea property="address" cols="40" rows="5" /></div>
</div>