<div class="control-group">
    <label class="control-label" for="title">Vorname</label>
    <div class="controls"><f:form.textfield class="span4" property="firstName" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="title">Nachname</label>
    <div class="controls"><f:form.textfield class="span4" property="lastName" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="title">E-Mail</label>
    <div class="controls"><f:form.textfield class="span4" property="email" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="title">Telefon</label>
    <div class="controls"><f:form.textfield class="span4" property="telephone" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="title">Rollen</label>
	<div class="controls">
		<label class="checkbox">
			<f:form.checkbox property="isTeamer" checked="{feUser.isTeamer}" value="1"  />
			Ist Teamer<br/>
			<f:form.checkbox property="isTrainee" checked="{feUser.isTrainee}" value="1"  />
			Ist Hospitant<br/>
			<f:form.checkbox property="isKitchenGroup" checked="{feUser.isKitchenGroup}" value="1"  />
			Ist insteressiert an Kochgruppe<br/>
			<f:form.checkbox property="isAdmin" checked="{feUser.isAdmin}" value="1"  />
			Ist Administrator<br/>
		</label>
	</div>
</div>

