{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:if condition="{registration.isFinished}">
    <f:then>
        <tr style="background-color: #d6e9c6;">
    </f:then>
    <f:else>
        <tr style="background-color: #ddaaaa;">
    </f:else>
</f:if>
<td>{registration.date -> f:format.date(format: 'd.m.Y')}</td>
<f:if condition="{dontShowEvent}">
    <f:then><!-- nothing to do here --></f:then>
    <f:else>
        <td>
            <strong>{registration.event.category.shortcut}-{registration.event.accreditationNumber}
                {registration.event.title}</strong>
            <f:if condition="{registration.comment}">
                <i class="icon-tags" id="registration-comment-{registration.uid}" data-original-title="Interne Notiz"
                   data-content="{registration.comment}"></i>
            </f:if>
            <br>
            <f:link.action controller="EventAdmin" action="show"
                           arguments="{event: registration.event}">Details
            </f:link.action>
        </td>
    </f:else>
</f:if>
<td>
    {registration.attendee.fullName} (<a href="mailto:{registration.attendee.email}">{registration.attendee.email}</a>)<br/>
    <!--<f:link.action controller="FeUserAdmin" action="show"
                   arguments="{feUser: registration.attendee}">Details
    </f:link.action> &nbsp; -->

    <f:link.action controller="FeUserAdmin" action="edit"
                   arguments="{feUser: registration.attendee}">Bearbeiten
    </f:link.action>
</td>
<td>
    <p class="pull-right">
        <f:link.action controller="RegistrationAdmin" action="sendConfirmation"
                       arguments="{registration: registration}" class="btn btn-primary">
            Anm.-Best. versenden
            <f:if condition="{registration.registrationConfirmationSent}"><i class="icon-white icon-ok"></i>
            </f:if>
        </f:link.action>
        <f:link.action controller="Export" action="exportRegistrationDebitInformation"
                       arguments="{registration: registration}" class="btn btn-primary">
            Einz.-Info. versenden
            <f:if condition="{registration.debitInformationSent}"><i class="icon-white icon-ok"></i></f:if>
        </f:link.action>
        <f:link.action controller="RegistrationAdmin" action="edit"
                       arguments="{registration: registration}" class="btn btn-primary"><i
                class="icon-pencil icon-white"></i> Bearbeiten
        </f:link.action>
        <f:link.action controller="RegistrationAdmin" action="delete"
                       arguments="{registration: registration}" class="btn btn-danger"><i
                class="icon-trash icon-white"></i> Löschen
        </f:link.action>
    </p>
</td>
</tr>