Hallo {registration.attendee.firstName},

hiermit bestätigen wir deine Anmeldung zur Schulung "{registration.event.title}".

*Deine Anmeldung ist hiermit verbindlich!*

Eine Teilnehmerliste findest du nach der Bezahlung des Teilnehmerbeitrages per Lastschrift - etwa 4 Wochen vor der Schulung - (nach dem Login) auf unserer Webseite.
Nach Abschluss der Veranstaltung und vorausgesetzt, du hast daran teilgenommen, findest du dort auch eine Teilnahmebestätigung.

Der Link zu den Schulungsdetails lautet:
<f:uri.action pageUid="{settings.frontendPluginPid}" absolute="1" noCacheHash="1" pluginName="pi1" extensionName="jdavsv" controller="Event" action="show" arguments="{event: registration.event.uid}" />



Herzliche Grüße

Deine JDAV-Landesgeschäftsstelle Baden-Württemberg e.V.