Hallo {registration.attendee.firstName},

hiermit bestätigen wir deine Anmeldung zur Schulung "{registration.event.title}".

Bitte beachte, dass es sich bei dieser Anmeldung zunächst nur um eine Reservierung handelt. Wir werden deine Anmeldung prüfen und du bekommst eine E-Mail mit den weiteren Schritten sobald diese bestätigt wurde.

Der Link zu den Schulungsdetails lautet: <f:uri.action pageUid="{settings.frontendPluginPid}" absolute="1" noCacheHash="1" pluginName="pi1" extensionName="jdavsv" controller="Event" action="show" arguments="{event: registration.event.uid}" />

Herzliche Grüße

Deine JDAV-Landesgeschäftsstelle Baden-Württemberg e.V.