Hallo {registration.attendee.firstName},

vielen Dank für deine Reservierung bei unserer Schulung "{registration.event.title}".

Damit wir dich auf die Teilnehmerliste setzen können brauchen wir von dir innerhalb 14 Tagen nach der Reservierung über die JDAV-Homepage
noch folgende Unterlagen:

Bei Fortbildungen:
- die unterschriebene Anmeldung (siehe Link unten)
  (Die Unterschrift für die Lastschrift benötigen wir im Original.)

Bei Aufbaumodulen:
- die unterschriebene Anmeldung (siehe Link unten)
(Die Unterschrift für die Lastschrift benötigen wir im Original.)

- und den Tourenbericht (am liebsten per E-Mail)

Bei Grundausbildungen:
- die unterschriebene Anmeldung (siehe Link unten)
(Die Unterschrift für die Lastschrift benötigen wir im Original.)

- und die Kopie des Kletterscheins Toprope

Das Anmeldeformular für die schriftliche Anmeldung findest du hier: http://www.jdav-bw.de/uploads/media/ANMELDEFORMULAR-3.pdf

Der Link zu den Schulungsdetails lautet: <f:uri.action pageUid="{settings.frontendPluginPid}" absolute="1" noCacheHash="1" pluginName="pi1" extensionName="jdavsv" controller="Event" action="show" arguments="{event: registration.event.uid}" />


Herzliche Grüße

Deine JDAV-Landesgeschäftsstelle Baden-Württemberg e.V.

--
____________________________________________________________________________

JDAV Landesgeschäftsstelle Baden-Württemberg e. V.
Ulrike Hausladen
Rotebühlstr. 59 A, 70178 Stuttgart
Telefon: 0711 - 61 08 86
Telefax:  03222 150 31 89

Öffnungszeiten der GS:
Dienstag und Donnerstag 11 - 18 Uhr

E-Mail und Internet: info@jdav-bw.de / www.jdav-bw.de