Hallo {feUser.firstName},

du hast dein Passwort für deine Registrierung bei www.jdav-bw.de vergessen. Mit dem folgenden Link kannst du zu deinem Benutzer mit dem Benutzernamen

{feUser.email}

ein neues Passwort setzen:

<f:uri.action pageUid="{settings.passwordForgottenPid}" absolute="1" noCacheHash="1" pluginName="pi1" extensionName="jdavsv" controller="ForgotPassword" action="showChangePasswordForm" arguments="{passwordForgottenHash: passwordForgottenHash}" />



Herzliche Grüße

Deine JDAV-Landesgeschäftsstelle Baden-Württemberg e.V.