<ul>
    <li>Veranstaltungen
        <ul>
            <li><f:link.action controller="EventAdmin" action="adminList">Veranstaltungsliste</f:link.action></li>
            <li><f:link.action controller="EventAdmin" action="new">Neue Veranstaltung anlegen</f:link.action></li>
        </ul>
    </li>
    <li>Anmeldungen
        <ul>
            <li><f:link.action controller="RegistrationAdmin" action="list">Liste aller Anmeldungen</f:link.action></li>
            <li><f:link.action controller="RegistrationAdmin" action="new">Neue Anmeldung anlegen</f:link.action></li>
        </ul>
    </li>
</ul>