<ul>
    <li>Veranstaltungen
        <ul>
            <li><f:link.action controller="Event" action="adminList">Veranstaltungsliste</f:link.action></li>
            <li><f:link.action controller="Event" action="new">Neue Veranstaltung anlegen</f:link.action></li>
        </ul>
    </li>
    <li>Anmeldungen
        <ul>
            <li><f:link.action controller="Registration" action="list">Liste aller Anmeldungen</f:link.action></li>
            <li><f:link.action controller="Registration" action="new">Neue Anmeldung anlegen</f:link.action></li>
        </ul>
    </li>
</ul>