<f:form.hidden property="category" value="{category}" />
<f:form.hidden name="category" value="{category}" />

<div class="control-group">
    <label class="control-label" for="shortcut">Kürzel</label>
    <div class="controls"><f:form.textfield class="span3" property="shortcut" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="name">Titel</label>
    <div class="controls"><f:form.textfield class="span8" property="title" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="description">Beschreibung</label>
    <div class="controls"><f:form.textarea property="description" class="span9" cols="40" rows="15" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="tourReportRequired">Erforderlich</label>
	<div class="controls"><f:form.checkbox property="required" value="1" checked="{categoryPrerequisite.required}"/></div>
</div>

<div class="control-group">
    <label class="control-label" for="tourReportRequired">Intern</label>
	<div class="controls"><f:form.checkbox property="internal" value="1" checked="{categoryPrerequisite.internal}"/> <small>Wenn angeklickt, sieht Anmelder diese Voraussetzung nicht</small></div>
</div>
