<!--<div class="control-group">
    <label class="control-label" for="title">Titel der Veranstaltung</label>
    <div class="controls"><f:form.textfield class="span9" property="title" /></div>
</div>-->

<div class="control-group">
	<label class="control-label" for="event">Veranstaltung</label>
	<div class="controls">
	<f:if condition="{event}">
			<f:then>
				<f:form.select disabled="1" property="{event}" class="span8" id="event" options="{events}" optionValueField="uid" optionLabelField="fullName" value="{event}" />
				<f:form.hidden property="event" value="{event}" />
			</f:then>
			<f:else>
				<f:form.select class="span8" id="event" property="event" options="{events}" optionValueField="uid" optionLabelField="fullName" value="{registration.event}" />
			</f:else>
	</f:if>
	</div>
</div>

<div class="control-group">
<label class="control-label" for="attendee">Teilnehmer</label>
	<div class="controls"><f:form.select class="span8" id="attendee" property="attendee" options="{feUsers}" optionValueField="uid" optionLabelField="fullName" value="{registration.attendee}" /></div>
</div>

<div class="control-group">
<label class="control-label" for="vegetarian">Teilnehmer ist Vegetarier</label>
	<div class="controls"><f:form.checkbox property="vegetarian" value="1" checked="{registration.vegetarian}" /></div>
</div>

<div class="control-group">
<label class="control-label" for="date">Anmeldedatum</label>
	<div class="controls"><f:form.textfield additionalAttributes="{placeholder: 'tt.mm.jjjj'}" class="input-small" property="date"  value="{registration.date->f:format.date(format:'d.m.Y')}"  /></div>
</div>

<div class="control-group">
<label class="control-label" for="reservedUntil">Reservierung gültig bis</label>
	<div class="controls"><f:form.textfield additionalAttributes="{placeholder: 'tt.mm.jjjj'}" class="input-small" property="reservedUntil"  value="{registration.reservedUntil->f:format.date(format:'d.m.Y')}"  /></div>
</div>

<div class="control-group">
<label class="control-label" for="waitingList">Reservierung</label>
	<div class="controls"><f:form.checkbox property="isReservation" value="1" checked="{registration.isReservation}"/></div>
</div>

<div class="control-group">
<label class="control-label" for="waitingList">Warteliste</label>
	<div class="controls"><f:form.checkbox property="waitingList" value="1" checked="{registration.waitingList}"/></div>
</div>

<div class="control-group">
<label class="control-label" for="isAccepted">Anmeldung akzeptiert</label>
	<div class="controls"><f:form.checkbox property="isAccepted" value="1" checked="{registration.isAccepted}" /></div>
</div>

<div class="control-group">
<label class="control-label" for="paid">Anmeldung bezahlt</label>
	<div class="controls"><f:form.checkbox property="paid" value="1" checked="{registration.paid}" /></div>
</div>

<div class="control-group">
<label class="control-label" for="registrationConfirmationSent">Anmeldebestätigung verschickt</label>
	<div class="controls"><f:form.checkbox property="registrationConfirmationSent" value="1" checked="{registration.registrationConfirmationSent}" /></div>
</div>

<div class="control-group">
<label class="control-label" for="debitInfoSent">Einzugs-Info verschickt</label>
	<div class="controls"><f:form.checkbox property="debitInformationSent" value="1" checked="{registration.debitInformationSent}" /></div>
</div>

<div class="control-group">
	<label for="comment" class="control-label">Interne Notizen</label>
	<div class="controls">
		<f:form.textarea class="span9" property="comment" cols="40" rows="15"/>
	</div>
</div>