<table class="tx-jdavsv-pi1" >
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_registration.date" />
		</td>
		<td>
			{registration.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_registration.attendee" />
		</td>
		<td>
			{registration.attendee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_registration.reserved_until" />
		</td>
		<td>
			{registration.reservedUntil -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_registration.waiting_list" />
		</td>
		<td>
			{registration.waitingList}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_registration.registration_order" />
		</td>
		<td>
			{registration.registrationOrder}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jdavsv_domain_model_registration.vegetarian" />
		</td>
		<td>
			{registration.vegetarian}
		</td>
	</tr>
</table>