
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">JDAV Baden-Württemberg</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Jugendleiter</a></li>
          <li><a href="#contact">Teamer</a></li>
          <li><a href="#about">Veranstaltungen</a></li>
          <li><a href="#contact">Anmeldungen</a></li>
        </ul>
        <p class="navbar-text pull-right">
            Logged in as User Name&nbsp;
            <a href="#">Logout</a>
        </p>

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Jugendleiter</li>
          <li class="active"><a href="#">Übersicht</a></li>
          <li><a href="#">Jugendleiter anlegen</a></li>

          <li class="nav-header">Teamer</li>
          <li><a href="#">Übersicht</a></li>
          <li><a href="#">Teamer anlegen</a></li>

          <li class="nav-header">Veranstaltungen</li>
          <li><a href="#">Übersicht</a></li>
          <li><a href="#">Veranstaltung anlegen</a></li>

          <li class="nav-header">Veranstaltungs-kategorien</li>
          <li><a href="#">Übersicht</a></li>
          <li><a href="#">Kategorie anlegen</a></li>

          <li class="nav-header">Anmeldungen</li>
          <li><a href="#">Übersicht</a></li>
          <li><a href="#">Anmeldung anlegen</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span1">&nbsp;</div>
    <div class="span9">
      <f:flashMessages />
      <f:render section="main" />
    </div> <!--/span-->

  </div><!--/row-->
  <hr>

  <footer>
    <p>JDAV Baden-Württemberg Schulungsverwaltung &copy; <a href="http://mimi.kaktusteam.de" target="_blank">Michael Knoll</a> 2012</p>
  </footer>
</div><!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/typo3conf/ext/jdav_sv/Resources/Public/Js/jquery.js"></script>
<script src="/typo3conf/ext/jdav_sv/Resources/Public/Js/bootstrap.min.js"></script>
<script language="javascript">
    $('.dropdown-toggle').dropdown();
    $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });
</script>