<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{csssFilePath}"/>
</head>

<body>

<div id="header">
    <table>
            <tr>
                <td width="150">
                    <img src="{jdavLogoFilePath}" width="150" height="67"/>
                </td>
                <td width="100%">
                    <f:render section="header"/>
                </td>
            </tr>
        </table>
</div>

<div id="content">
    <f:render section="content"/>
</div>

<div id="footer">
    <p><strong>Jugend des Deutschen Alpenvereins &middot; Landesgeschäftsstelle Baden-Württemberg e. V. &middot; Rotebühlstrasse 59 A &middot; 70178 Stuttgart &middot; 0711-610886</strong><br/>
        Diese Liste darf ausschließlich für Vereinszwecke verwendet werden. Eine Verwendung für andere (insbesondere für kommerzielle) Zwecke sowie die Überlassung der Liste an außenstehende Dritte ist gemäß § 28 Abs.5 BDSG nicht zulässig.</p>
</div>

</body>
</html>