{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
	<h1>Veranstaltung</h1>
	<ptextbase:flashMessages renderMode="div" messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}" />
	<f:form class="form-horizontal" method="post" action="update" name="event" object="{event}" >

		<f:render partial="formErrors" />
		<br />

		<fieldset>
			<legend>Veranstaltung bearbeiten</legend>
			<f:render partial="Event/formFields" arguments="{event:event, categories: categories, accommodations: accommodations, teamers: teamers, trainees: trainees, kitchenGroups: kitchenGroups}" />
		</fieldset>

		<f:form.submit class="btn-primary btn" value="Veranstaltung Speichern" />
		<f:link.action controller="EventAdmin" action="list" class="btn btn-danger"><i class="icon-remove icon-white"></i> Abbrechen und zurück zur Übersicht</f:link.action>
	</f:form>
</f:section>