{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default"/>


<f:section name="main">

	<h1>Meine Schulungen</h1>
	<ptextbase:flashMessages renderMode="div"
							 messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}"/>
	<br/>
	<legend>Übersicht</legend>
	<table class="table table-striped">
		<tr>
			<th>AkkNr</th>
			<th>Beginn<br>Ende</th>
			<th>Beschreibung</th>
            <th>Teamer/Hospitant</th>
			<th></th>
		</tr>
		<f:for each="{events}" as="event">
			<tr>
				<td>
					<strong>{event.category.shortcut}-{event.accreditationNumber}</strong><br>

					<f:render partial="Event/RegistrationState" arguments="{event: event}" />
				</td>
				<td>{event.dateStart -> f:format.date(format: 'd.m.Y')}<br>
					{event.dateEnd -> f:format.date(format: 'd.m.Y')}
				</td>
				<td>
					<strong>{event.title}</strong> <f:render partial="Event/EventComment" arguments="{event: event}" /><br>
					{event.subtitle}<br/>
					<f:link.action controller="EventAdmin" action="show" arguments="{event: event.uid}">
						Details
					</f:link.action>
					&nbsp;
					<f:link.action controller="Export" action="exportRegistrationsListForTeamers"
								   arguments="{event: event.uid}">Teamer TN-Liste
					</f:link.action>
					&nbsp;
					<f:link.action controller="Export" action="exportRegistrationsListForParticipants"
								   arguments="{event: event.uid}">Teilnehmer TN-Liste
					</f:link.action>
					&nbsp;
				</td>
                <td>
                    {event.firstTeamer.fullName}<br/>
                    {event.secondTeamer.fullName}<br/>
                    {event.trainee.fullName}
                </td>
				<td>
					<f:if condition="{event.isNotAccepted}">
                        <f:then>
                            <p class="pull-right">
                                <f:link.action class="btn btn-primary" controller="EventAdmin" action="edit" arguments="{event: event}">Bearbeiten</f:link.action>
                                <f:link.action class="btn btn-danger" controller="EventAdmin" action="delete" arguments="{event: event, returnTo: 'myEventsList'}">Löschen</f:link.action>
                            </p>
                        </f:then>
                        <f:else>
                                <f:link.action class="btn btn-primary" controller="Message" action="showParticipantsMessageAdminForm" arguments="{event: event.uid}">Nachricht an TN</f:link.action>
                        </f:else>
					</f:if>
				</td>
			</tr>
		</f:for>
	</table>

</f:section>

<f:section name="javascript">
	<script type="text/javascript">
		<f:for each="{events}" as="event" >

			<f:if condition="{event.hasComments}" >
					$('#event-comment-{event.uid}').popover();
			</f:if>
			$('#event-registrations-{event.uid}').popover();

		</f:for>
	</script>
</f:section>