{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
	<h1>Veranstaltung</h1>
	<br>
	<ptextbase:flashMessages renderMode="div"
							 messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}"/>
	<f:form method="post" action="create" class="form-horizontal" name="newEvent" object="{newEvent}">
		<f:render partial="formErrors"/>
		<fieldset>
			<legend>Neue Veranstaltung anlegen</legend>
			<f:render partial="Event/formFields"
					  arguments="{categories: categories, accommodations: accommodations, teamers: teamers, trainees: trainees, kitchenGroups: kitchenGroups, firstTeamer: firstTeamer, currentUser: currentUser}"/>
		</fieldset>
		<div class="form-actions">
			<f:if condition="{firstTeamer}">
				<f:then>
					<f:form.submit class="btn-primary btn" value="Veranstaltung Speichern" />
					<f:link.action controller="EventAdmin" action="myEventsList" class="btn btn-danger"><i class="icon-remove icon-white"></i> Abbrechen und zurück zu meinen Veranstaltungen</f:link.action>
				</f:then>
				<f:else>
					<f:if condition="{currentUser.isAdmin}">
						<f:form.submit class="btn-primary btn" value="Veranstaltung Speichern" />
						<f:link.action controller="EventAdmin" action="list" class="btn btn-danger"><i class="icon-remove icon-white"></i> Abbrechen und zurück zur Übersicht</f:link.action>
					</f:if>
				</f:else>
			</f:if>
		</div>
	</f:form>
</f:section>