{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default" />


<f:section name="main">
<h1>Veranstaltung</h1>

<legend>{event.category.shortcut}{event.accreditationNumber} {event.title} - {event.subtitle}</legend>
<ptextbase:flashMessages renderMode="div" messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}" />

<f:render partial="Event/properties" arguments="{event:event}" />

<br/>
<f:link.action class="btn btn-primary" controller="EventAdmin" arguments="{event: event}" action="edit">Veranstaltung bearbeiten</f:link.action>
<br />
<br/>
    
<legend>Anmeldungen</legend>
<f:render partial="Registration/list" arguments="{event:event, registrations:event.nonWaitingListRegistrations}" />
<f:link.action class="btn btn-primary" controller="EventAdmin" arguments="{event: event}" action="setRegistrationsPaid">Alle Anmeldungen auf bezahlt setzen</f:link.action>
<br/>
<br/>

<legend>Warteliste</legend>
<f:render partial="Registration/list" arguments="{waitingList: 1, event:event, registrations:event.waitingListRegistrations, currentUser: currentUser}" />

<br/>
<div class="form-actions">
	<f:if condition="{currentUser.isAdmin}">
		<f:link.action class="btn btn-primary" controller="EventAdmin" action="list">Zurück zur Schulungsübersicht</f:link.action>
	</f:if>
	<f:if condition="{currentUser.isTeamer}">
		<f:link.action class="btn btn-primary" controller="EventAdmin" action="myEventsList">Zurück zu meinen Schulungen
		</f:link.action>
	</f:if>
</div>

</f:section>

<f:section name="javascript"></f:section>