<f:layout name="Default" />


<f:section name="main">
<h1>Veranstaltungsdetails</h1>

<f:flashMessages />

<f:render partial="Admin/menu" />

<f:render partial="Event/properties" arguments="{event:event}" />

<f:link.action action="edit">Veranstaltung bearbeiten</f:link.action><br />
    
<h2>Anmeldungen</h2>
<f:render partial="Registration/list" arguments="{event:event, registrations:event.nonWaitingListRegistrations}" />

<h2>Warteliste</h2>
<f:render partial="Registration/list" arguments="{event:event, registrations:event.waitingListRegistrations}" />

<br/>
<f:link.action action="list">Zurück zur Veranstaltungsübersicht</f:link.action><br />

</f:section>