<div class="control-group">
    <label class="control-label" for="shortcut">Kürzel</label>
    <div class="controls"><f:form.textfield class="span1" property="shortcut" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls"><f:form.textfield class="span4" property="name" /></div>
</div>

<div class="control-group">
    <label class="control-label" for="tourReportRequired">Tourenbericht erforderlich</label>
	<div class="controls"><f:form.checkbox property="tourReportRequired" value="1" checked="{category.tourReportRequired}"/></div>
</div>
