{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
	<h1>Benutzer</h1>
	<ptextbase:flashMessages renderMode="div" messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}" />
	<f:form class="form-horizontal" method="post" action="update" name="feUser" object="{feUser}" >

		<f:render partial="formErrors" />
		<br />

		<fieldset>
			<legend>Benutzer bearbeiten</legend>
			<f:render partial="FeUser/formFields" arguments="{feUser:feUser}" />
		</fieldset>

		<f:form.submit class="btn-primary btn" value="Benutzer speichern" />
		<f:link.action controller="FeUser" action="list" class="btn btn-danger"><i class="icon-remove icon-white"></i> Abbrechen und zurück zur Übersicht</f:link.action>
	</f:form>
</f:section>