{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default" />


<f:section name="main">

<h1>Benutzer</h1>
<br/>
<ptextbase:flashMessages renderMode="div" messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}" />
<legend>Übersicht</legend>
<table  class="table table-striped" >
    <tr>
        <f:render partial="EXT:jdav_sv/Resources/Private/Partials/Extlist/ListHeader.html" arguments="{listHeader:listHeader, listCaptions:listCaptions}" />
		<th></th>
    </tr>
    <f:for each="{listData}" as="row">
		<tr>
		    <td>
                <strong>{row.firstName}</strong>
		    </td>
			<td>
				<strong>{row.lastName}</strong>
			</td>
			<td>
				<strong>{row.email}</strong>
			</td>
			<td>
				<strong>{row.telephone}</strong>
			</td>
			<td>
				<p class="pull-right">
					<f:link.action class="btn btn-primary" controller="FeUser" action="edit" arguments="{feUser: row.feUser.value.uid}"><i class="icon-pencil icon-white"></i> Bearbeiten</f:link.action>
					<f:link.action class="btn btn-danger" controller="FeUser" action="delete" arguments="{feUser: row.feUser.value.uid}"><i class="icon-trash icon-white"></i> Löschen</f:link.action>
				</p>
			</td>
		</tr>
	</f:for>
</table>

<f:link.action class="btn btn-primary" action="new" class="btn btn-primary"><i class="icon-plus icon-white"></i> Neuen Benutzer anlegen</f:link.action>

</f:section>