{namespace ptextbase=Tx_PtExtbase_ViewHelpers}
<h1>Deine Benutzerdaten</h1>

<f:flashMessages/>

<f:form class="form-horizontal" controller="FeUser" action="changePassword" name="password">

    <div class="control-group">
        <label class="control-label" for="title">Altes Passwort</label>
        <div class="controls">
            <f:form.password class="span4" name="oldPassword"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Neues Passwort</label>
        <div class="controls">
            <f:form.password class="span4" name="newPassword1"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Neues Passwort (Wiederholung)</label>
        <div class="controls">
            <f:form.password class="span4" name="newPassword2"/>
        </div>
    </div>

    <div class="control-group">
        <f:link.action action="edit">Zurück zu den Benutzerdaten</f:link.action>
    </div>

    <div class="form-actions">
        <f:form.submit class="btn btn-primary" value="Neues Passwort speichern"/>
    </div>
</f:form>
