{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
	<h1>Sektionen</h1>
	<ptextbase:flashMessages renderMode="div" messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}" />
	<f:form class="form-horizontal" method="post" action="update" name="sektion" object="{sektion}" >
		<f:render partial="formErrors" />
		<br />

		<legend>Sektion bearbeiten</legend>
		<fieldset>
			<f:render partial="Sektion/formFields" arguments="{sektion: sektion, personen: personen}" />

			<div class="form-actions">
				<f:form.submit class="btn-primary btn" value="Sektion Speichern" />
				<f:link.action controller="SektionAdmin" action="list" class="btn btn-danger"><i class="icon-remove icon-white"></i> Abbrechen und zurück zur Übersicht</f:link.action>
			</div>
		</fieldset>
	</f:form>
</f:section>

<f:section name="javascript"></f:section>