{namespace ptextbase=Tx_PtExtbase_ViewHelpers}
<h1>Passwort vergessen</h1>

<f:flashMessages/>

<f:form class="form-horizontal" controller="ForgotPassword" action="forgotPasswordSendMail" name="password">

    <p>Wenn du dein Passwort für die JDAV BaWü Webseite vergessen hast, dannn kannst du hier ein neues Passwort anfordern.</p>

    <div class="control-group">
        <label class="control-label" for="email">Benutzername (E-Mail Adresse):</label>
        <div class="controls">
            <f:form.textfield class="span4" name="email"/>
        </div>
    </div>

    <div class="form-actions">
        <f:form.submit class="btn btn-primary" value="E-Mail für neues Passwort zusenden"/>
    </div>
</f:form>
