{namespace ptextbase=Tx_PtExtbase_ViewHelpers}
<h1>Neues Passwort setzen</h1>

<f:flashMessages/>

<f:form class="form-horizontal" controller="ForgotPassword" action="setNewPassword" name="setNewPassword">

    <p>Hier kannst du ein neues Passwort für deinen Benutzer setzen</p>

    <f:form.hidden name="passwordForgottenHash" value="{passwordForgottenHash}" />

    <div class="control-group">
        <label class="control-label" for="newPassword1">Neues Passwort:</label>
        <div class="controls">
            <f:form.password class="span4" name="newPassword1"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="newPassword2">Neues Passwort (Wiederholung):</label>
        <div class="controls">
            <f:form.password class="span4" name="newPassword2"/>
        </div>
    </div>

    <div class="form-actions">
        <f:form.submit class="btn btn-primary" value="Neues Passwort speichern"/>
    </div>
</f:form>
