{namespace ptextbase=Tx_PtExtbase_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
	<h1>Kategorien</h1>
	<ptextbase:flashMessages renderMode="div" messageCssClasses="{0: 'alert alert-success', 1: 'alert alert-warning', 2: 'alert alert-error'}" />
	<f:form class="form-horizontal" method="post" action="update" name="category" object="{category}" >
		<f:render partial="formErrors" />
		<br />

		<fieldset>
			<legend>Kategorie bearbeiten</legend>
			<f:render partial="Category/formFields" arguments="{category: category}" />

			<div class="control-group">
				<label class="control-label">Voraussetzungen:</label>
				<div class="controls">
					<f:if condition="{category.prerequisites}">
						<t:then>
							<table class="table table-striped">
								<tr>
									<th>Voraussetzung</th>
									<th>Kürzel</th>
									<th>Titel</th>
									<th></th>
								</tr>
								<f:for each="{category.prerequisites}" as="prerequisite">
									<tr>
										<td>{prerequisite.required}</td>
										<td>{prerequisite.shortcut}</td>
										<td>{prerequisite.title}</td>
										<td>
											<p class="pull-right">
												<f:link.action controller="CategoryPrerequisites" class="btn btn-primary" action="edit" arguments="{prerequisite: prerequisite}">Bearbeiten</f:link.action>
												<f:link.action controller="CategoryPrerequisites" class="btn btn-danger" action="delete" arguments="{prerequisite: prerequisite}">Löschen</f:link.action>
											</p>
										</td>
									</tr>
								</f:for>
							</table>
						</t:then>
						<f:else>
							<p>Es sind noch keine Voraussetzungen festgelegt!</p>
						</f:else>
					</f:if>


					<f:link.action controller="CategoryPrerequisites" class="btn btn-primary" action="new" arguments="{category: category}">Neue Voraussetzung anlegen</f:link.action>
				</div>
			</div>

			<div class="form-actions">
				<f:form.submit class="btn-primary btn" value="Kategorie Speichern" />
				<f:link.action controller="Category" action="list" class="btn btn-danger"><i class="icon-remove icon-white"></i> Abbrechen und zurück zur Übersicht</f:link.action>
			</div>
		</fieldset>
	</f:form>
</f:section>