<div class="event-outer-wrapper">
	<div class="well">
		<div class="well well-white">
			<p class="pull-right btn {event.lights}">{event.lightsText}</p>
			<small>{event.category.name}</small>
			<h2>{event.title}</h2>
            <h3>{event.subtitle}</h3>
		</div>
		<table>
			<tr>
				<td class="span2">
					<small><i class="icon-tag"></i> {event.category.shortcut}-{event.accreditationNumber}</small>
				</td>
				<td class="span4">
					<small><i class="icon-calendar"></i> von {event.dateStart -> f:format.date(format: 'd.m.Y')} bis {event.dateEnd -> f:format.date(format: 'd.m.Y')}</small>
				</td>
				<td class="span4">
					<small><i class="icon-home"></i> {event.accommodation.name}</small>
				</td>
			</tr>
		</table>
		<table class="table table-no-bottom">
			<tr>
				<td colspan="2">
					<f:format.nl2br>{event.announcement}</f:format.nl2br>
				</td>
			</tr>
		</table>
		<div class="tabs">
			<ul class="nav nav-tabs" id="eventDescriptionTabs">
				<li class="active"><a href="#overview" data-toggle="pill">Veranstaltungsdetails</a></li>
				<li><a href="#accommodation" data-toggle="tab">Unterkunft</a></li>
				<f:if condition="{event.currentUserRegistrationsIsAcceptedAndNotOnWaitinglist}">
					<li><a href="#attendees" data-toggle="tab">Teilnehmerliste</a></li>
				</f:if>
				<f:if condition="{event.currentUserIsRegisteredForThisEvent}">
					<li><a href="#registrationStatus" data-toggle="tab">Anmeldestatus</a></li>
				</f:if>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="overview">
					<table class="table table-no-border-top">
						<tr>
							<td class="span2"><strong>Dauer:</strong></td>
							<td class="span3">{event.duration} Tage</td>
							<td class="span2"><strong>Betreuungsverhältnis:</strong></td>
							<td class="span3">{event.attTeamerRatio} (Teamer:Teilnehmer)</td>
						</tr>
						<tr>
							<td class="span2"><strong>Anreise:</strong></td>
							<td class="span3">{event.travelling}</td>
							<td class="span2"><strong>Preis:</strong></td>
							<td class="span3">{event.price}</td>
						</tr>
						<tr>
							<td class="span2"><strong>Gruppengröße:</strong></td>
							<td class="span3">{event.minRegistrations} bis {event.maxRegistrations} Teilnehmer</td>
							<td class="span2"><strong>Anmeldeschluss:</strong></td>
							<td class="span3">{event.registrationDeadline  -> f:format.date(format: 'd.m.Y')}</td>
						</tr>
                    <f:if condition="{event.description}">
                        <tr>
                            <td class="span2"><strong>Beschreibung:</strong></td>
                            <td colspan="3" class="span3"><f:format.nl2br>{event.description}</f:format.nl2br></td>
                        </tr>
                    </f:if>
                    <f:if condition="{event.contents}">
                        <tr>
                            <td class="span2"><strong>Inhalte:</strong></td>
                            <td colspan="3" class="span3"><f:format.nl2br>{event.contents}</f:format.nl2br></td>
                        </tr>
                    </f:if>
                    <f:if condition="event.requirements">
                        <tr>
                            <td class="span2"><strong>Voraussetzungen:</strong></td>
                            <td colspan="3" class="span3"><f:format.nl2br>{event.requirements}</f:format.nl2br></td>
                        </tr>
                    </f:if>
                    <f:if condition="event.educationObjective">
                        <tr>
                            <td class="span2"><strong>Ausbildungsziele:</strong></td>
                            <td colspan="3" class="span3"><f:format.nl2br>{event.educationObjective}</f:format.nl2br></td>
                        </tr>
                    </f:if>
                    </table>
				</div>
				<div class="tab-pane" id="accommodation">
					<table class="table table-no-border-top">
						<tr>
							<td class="span5">
								<strong>{event.accommodation.name}</strong><br>
								<f:format.nl2br>{event.accommodation.address}</f:format.nl2br><br><br>
								{event.accommodation.telephone}<br><br>
								<a href="mailto:{event.accommodation.email}">{event.accommodation.email}</a><br>
								<a href="{event.accommodation.url}">{event.accommodation.url}</a>
							</td>
							<td class="span5">
				  				{event.accommodation.googleMapsCode->f:format.html(parseFuncTSPath:'')}
							</td>
						</tr>
					</table>
				</div>
				<f:if condition="{event.currentUserRegistrationsIsAcceptedAndNotOnWaitinglist}">
					<div class="tab-pane" id="attendees">
						<table class="table">
							<tr>
								<th>Name</th>
								<th>Vorname</th>
								<th>E-Mail</th>
								<th>Telefon</th>
							</tr>
							<f:for each="{event.registrations}" as="registration">
								<tr>
									<td>{registration.attendee.lastName}</td>
									<td>{registration.attendee.firstName}</td>
									<td><a href="mailto:{registration.attendee.email}">{registration.attendee.email}</a></td>
									<td>{registration.attendee.telephone}</td>
								</tr>
							</f:for>
						</table>
						<f:link.action controller="Export" action="exportRegistrationsListForParticipants" arguments="{event: event}">Teilnehmerliste als PDF herunterladen</f:link.action><br/>

						<br>
						<p>Diese Liste darf ausschließlich für Vereinszwecke verwendet werden. Eine Verwendung für andere (insbesondere für kommerzielle) Zwecke sowie die Überlassung der Liste
						an außenstehende Dritte ist gemäß § 28 Abs.5 BDSG nicht zulässig.</p>
					</div>
				</f:if>
				<f:if condition="{event.currentUserIsRegisteredForThisEvent}">
					<div class="tab-pane" id="registrationStatus">
						<f:if condition="{event.registrationForCurrentUser.isConfirmed}">
							<f:then>
								<div class="alert alert-success">
									<p><strong>Deine Anmeldung ist abgeschlossen und bestätigt!</strong></p>
									<f:for each="{event.registrationForCurrentUser.AllPrerequisiteFulfillments}" as="fulfillment">
										<f:if condition="{fulfillment.fulfilled}">
											<f:then><p><i class="icon-ok"></i> Erfüllt: {fulfillment.prerequisite.title}</p></f:then>
											<f:else><p><i class="icon-error"></i> Noch zu erledigen: {fulfillment.prerequisite.title}</p></f:else>
										</f:if>
									</f:for>
								</div>
							</f:then>
							<f:else>
								<div class="alert alert-error">
									<p><strong>Deine Anmeldung ist noch nicht abgeschlossen!</strong></p>
									<f:for each="{event.registrationForCurrentUser.AllPrerequisiteFulfillments}" as="fulfillment">
										<f:if condition="{fulfillment.prerequisite.notInternal}">
											<f:if condition="{fulfillment.fulfilled}">
												<f:then><p><i class="icon-ok"></i> Erfüllt: {fulfillment.prerequisite.title}</p></f:then>
												<f:else><p><i class="icon-error"></i> Noch zu erledigen: {fulfillment.prerequisite.description}</p></f:else>
											</f:if>
										</f:if>
									</f:for>
								</div>
							</f:else>
						</f:if>
					</div>
				</f:if>
			</div>
		</div>
		<f:if condition="{event.currentUserIsNotRegisteredForThisEvent}">
			<f:then>
				<f:link.action class="btn btn-large" controller="Registration" action="register" arguments="{event: event}">Anmelden</f:link.action>
			</f:then>
			<f:else>
				<f:if condition="{event.cancelRegistrationIsPossible}">
					<f:then><f:link.action class="btn btn-large btn-danger" controller="Registration" action="unregister" arguments="{event: event}">Abmelden</f:link.action></f:then>
					<f:else>
						<p class="pull-right"><i class="icon-info-sign"></i> <strong>Die Abmeldefrist ist verstrichen, du kannst dich nicht mehr abmelden!</strong></p>
					</f:else>
				</f:if>
			</f:else>
		</f:if><br><br>
	</div>
	<f:link.action class="pull-right" controller="Event" action="list">Zurück zur Schulungsübersicht</f:link.action>
</div>